*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1170px;
    margin: 0 auto;
}
.btn{
    background: tomato;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 20px;
    max-width: 100px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 66, 65);
}
.h1{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    margin: 50px auto;
    color: rgba(204, 199, 199, 0.8);
}
/* nav style starts here */
nav{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.title{
    display: flex;
    align-items: center;
    padding: 5px 5px;
}
.title img{
    padding: 5px;
    width: 50px;
    height: 40px;
}
.title h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-left: 5px;
}
.title h1> span{
    color: tomato;
    text-shadow: 1px .5px rgb(48, 41, 39);
}
#nav-icon{
    display: none;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
.nav-list li{
    margin: 27px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
}
.nav-list li:first-child{
    color: tomato;
}

/* nav style ends here */

/* main section starts here */
/* section 1 starts here */
.section-1{
    background-image: url(Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    width: 1170px;
    border-radius: 15px;
    text-align: center;
    margin-top: 40px;
}
.section-1> h1{
    color: rgb(86, 88, 88);
    font-size: 2.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 140px 0 20px;
    text-shadow: 1.2px 1px tomato;
}
.section-1 p{
    color: rgb(250, 250, 249);
    background-color: rgba(81, 73, 73, 0.4);
    max-width: 40%;
    margin: 10px auto;
    border-radius: 5px;
}
.section-1__options{
    background-color: rgba(205, 200, 200, 0.4);
    margin: 100px 300px;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
}
.section-1__option{
    font-size: 1.1rem;
    border-radius: 5px;
    width: 125px;
    text-decoration: none;
    color: rgb(72, 68, 68);
    padding: 5px;
    border: none;
}
/* section 1 ends here */

/* section 2 starts here */
.section-2{
    display: flex;
    justify-content: space-between;
    margin:60px 0;
}
.section-2__desc ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    margin: 15px 0 15px 15px;
}
.section-2__desc ul>li{
    margin-top: 5px;
}
.section-2__desc p{
    margin: 5px 0 15px;
}
/* section 2 ends here */

/* section 3 starts here */

.section-3{
    text-align: center;
}
.section-3 h1{
    margin-bottom: 10px;
}
#section-3__responsive{
    display: none;
}
#section-3__imgsec1{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 573px 573px;
    gap: 20px;
    height: 300px;
}
#section-3__imgsec2{
    display: grid;
    grid-template-columns: 374px 474px 274px;
    gap: 20px;
    height: 286px;
    margin: 20px auto;
}
#section-3__imgsec3{
    display: grid;
    grid-template-columns: 473px 673px;
    gap: 20px;
    height: 300px;
}
.section-3__img{
    display: block;
    position: relative;
}
.section-3__img >h1{
    position: absolute;
    top: 45%;
    right: 35%;
    color: azure;
    text-shadow: 2px 1px 2px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.2rem;
}
/* section 3 ends here */

/* section 4 starts here */
.section-4{
    text-align: center;
}
.section-4 h1{
    margin:50px auto 15px;
}
.section-4__1st{
    display:flex;
    justify-content: space-between;
}
.section-4__desc{
    height: 150px;
    width: 450px;
    background: rgba(204, 196, 196, 0.1);
    border: 2px solid rgb(176, 166, 166, .5);
    border-radius: 10px;
    padding: 50px;
    margin: 30px auto;
    text-align: left;
}
.section-4__desc h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(27, 20, 11);
    margin: 10px 0;
}

/* section 4 ends here */
/* section 5 starts here */
.section-5{
    display: flex;
    margin: 20px auto;
}
.section-5 p{
    margin: 15px auto;
}
.section-5 ul{
    margin: 20px 30px;
}
.section-5> img{
    border-radius: 15px;
    width: 550;
    height: 400px;
}
/* section 5 ends here */
/* section 6 starts here */
.section-6{
    display: flex;
    justify-content: space-between;
}
.newsletter{
    border: 2px solid tomato;
    border-radius: 15px;
    padding: 25px;
    width: 38%;
}
.newsletter> input,button{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: .5px solid rgb(73, 65, 65);
    margin-bottom: 15px;
}
.section-6__img{
    display: block;
    width: 55%;
    text-align: right;
    background-image: url(Rectangle\ 8\ \(1\).png);
    border-radius: 15px;
}
.section-6__discount{
    background: tomato;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    width: 32%;
    border-radius: 15px;
    margin: 250px 0 0 350px;
    text-align: center;
    transform: rotate(-20deg);
}

/* section 6 ends here */
/* footer section starts here */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px auto;
    margin-bottom: 50px;
}
.footer-title{
    margin: 20px auto;
}
.footer-icon{
    border-bottom: .8px solid rgb(92, 86, 86);
    margin-bottom: 50px;
}
.footer-icon i{
    font-size: 2rem;
    margin: 30px 30px;
    cursor: pointer;
}

/* footer section ends here */








/* responsive style starts here */
@media screen and (max-width: 600px) {
    body{
        max-width: 600px;
        margin: 0;
    }
    nav{
        max-width: 600px;
        
    }
    .nav-list{
        display: flex;
        flex-direction: column;
    }
    .nav-list>li{
        font-size: .8rem;
        margin: 5px 20px 0 0;
    }
    .section-1{
        width: 600px;
        display: block;
    }
    .section-1__options{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 10px auto;
        padding: 10px;
    }
    .section-1__option{
        margin: 10px auto;
        width: 80%;
    }
    .section-1__options> button{
        margin: 0 auto;
    }

    /* resposive section 2 starts here*/
    .section-2{
        display: flex;
        flex-direction: column;
    }
    .section-2__desc{
        margin: 20px 0 20px 20px;
    }
    .section-2__img{
        text-align: center;
    }
    /* responsive section 3starts here  */
    .section-3{
        display: block;
        flex-direction: column;
        height: auto; 
    }
    #section-3__imgs{
        display: none;
    }
    #section-3__responsive{
        display: block;
    }
    .section-3__img> img{
        margin: 20px auto;
        display: block;
        height: 300px; 
        width: 500px;
        border-radius: 15px;
    }

    /* responsive section 4 starts here */
    .section-4{
        margin-top: 150px;
    }
    .section-4__1st{
        display: flex;
        flex-direction: column;
    }
    
    /* responsive section 4 endss here */
    /* responsive section 5 starts here */
    .section-5{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    /* responsive section 5 ends here */
    /* responsive section 6 starts here */
    .section-6{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .newsletter{
        width: 90%;
        margin: 20px auto;
    }
    .section-6__img{
        width: 100%;
        height: 300px;
    }
    .section-6__discount{
        width: 35%;
        margin: 180px 0 0 250px;
    }
    /* responsive section 6 ends here */

}